<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net45" />
  <package id="Xceed.Products.Wpf.DataGrid.Base" version="6.5.18204.20220" targetFramework="net45" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="3.6.17613.09190" targetFramework="net45" />
  <package id="Xceed.Wpf.Controls" version="6.5.18204.20220" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid" version="6.5.18204.20220" targetFramework="net45" />
  <package id="Xceed.Wpf.Toolkit" version="3.6.17613.09190" targetFramework="net45" />
</packages>